@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    401 <br />
    Sunset Avenue<br />
    <abbr title="Phone">P:</abbr>
    123.456.789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">gormSupport@uwindsor.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">gormMarketing@uwindsor.ca</a>
</address>